.input {
    width: 240px;
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: #33332d 1px solid;
}

.form-label {
    font-weight: bold;
}

.button-primary {
    box-sizing: border-box;
    width: 128px;
    height: 32px;
    font-weight: bold;
    border: 0;
    color: white;
    background-color: #33332d;
}

.button-primary:hover {
    color: #33332d;
    background-color: white;
    border: 2px #33332d solid;
    box-shadow: 0 1px 1px 0 #33332d;
}

.button-primary:active {
    color: #f3f3f3;
    background-color: #33332d;
}

.spacer-margin {
    margin-right: 16px;
}
